.footer{
    background-color: #EC3237;
    display: flex;
    padding-top:50px;
    padding-bottom:50px;
    justify-content:space-evenly;
    color: #fff;
}
.footer-section{
    list-style-type: none;
}
.footer-section{
   width:100%;
   display:-webkit-flex;
   display:-moz-flex;
   display:-ms-flex;
   display:-o-flex;
   display: flex;
   flex-wrap: wrap;
   justify-content:center;
}

.footer-section.li{
      padding:0 30px;
      flex-basis: 33%;
      text-align: center;
}
.footer-section.li span{
     margin-left:50px;
}
.footer a{
     color: #fff;
     text-decoration: none;
}
.media-icon {
    font-size:25px;
}