.footer{
    background-color: #EC3237;
    display: flex;
    padding-top:50px;
    padding-bottom:50px;
    justify-content:space-evenly;
    color: #fff;
}
.footer-section{
    list-style-type: none;
}
.footer a{
     color: #fff;
     text-decoration: none;
}
.media-icon {
    font-size:25px;
}