.container{
    display:flex;
}

.award-image-section{
     width:45%;
     margin-right: 65px;;
}
.award-image{
     margin-top:180px;
     margin-left:50px;
     margin-right: 65px;
     width:85%;

}
.company-logo{
     width:45%;
}
/*.company-description-section p{
       text-transform: uppercase;
       font-size:calc(15px+2vw);
       font-weight:500;
       letter-spacing: 0.12px;
}*/
.awardReceiving-img{
     width:50%;
}