.container{
    display:flex;
}

.award-image-section{
     width:50%;
     height: 100vh;
     margin-right: 100px;
}
.award-image{
     margin-top:230px;
     margin-left:px;
     width:110%;
}
.company-logo{
     width:45%;
}
.wining-description{
       text-transform: uppercase;
       font-size:calc(15px+2vw);
       font-weight:700;
       font-family: 'Courier New', Courier, monospace;
       letter-spacing:0px;
}
.awardReceiving-img{
     width:95%;
}
ul li{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
