.company-product{
    font-family: 'Courier New', Courier, monospace;
    background-image:linear-gradient(to right,#FFFAC5,#FFFAC2);
    padding-top:10px;
}
.company-services{
    margin-left:45px;
    color: #000;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
}
.company-services-1{
      text-align:center;
      font-size:13px;
      font-weight: 900;
      text-transform: uppercase;
}
.company-product span{
     color: #EC3237;
}