.company-product{
    background-image:linear-gradient(to right,#FFFAC5,#FFFAC2);
    padding-top:10px;
    padding-bottom:10px;
}
.company-services{
    margin-left:45px;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.product-items{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
}
.segments{
     text-align: center;
     font-size: 16px;
     font-weight: 700;
}
.company-services-1{
      text-align:center;
      font-size:13px;
      font-weight: 500;
      text-transform: uppercase;
}
.ul-under-div{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}
.ul-under-div li{
    text-align:center; 
}

/* after effect */
.company-product span{
    color: #EC3237;
}

.product-items li::after{
   content:'| ';
   color: #EC3237;
}
#last-li::after{
   content:'';
}
@media(max-width: 820px){
    .segments{
        padding:10px;
    }
    .product-items{
        justify-content:center;
        align-items: center;
        padding:10px;
    }
}