.product-description{
    margin-left: 5px;
}

.product-container{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-left: 100px;
     border-bottom: 1px solid red;
}

.product-list-img{
    width: 85%;
}
.product-container p{
    text-align: center;
}