.section{
    background-image:linear-gradient(to right,#FFFAC5,#FFFAC2);
    padding-top:15px;
}

.product-description{
    margin-left: 25px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size:14px;
}

.product-container{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-left: 100px;
     border-bottom: 2px solid red;
}

.product-list-img{
    width: 85%;
}
.product-container p{
    text-align: center;
}
.image-product-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size:15px;
} 
.image-product-list li::after{
       content: "-  ";
}
#last-element::after{
    content: "";
}

@media(max-width:820px){
    .product-description{
        margin-left: 10px;
        margin-right: 10px;
        font-size:13px;
        text-align: justify;
        padding:10px;
    }

    .product-container{
        padding-left: 0px;
        padding-right:10px;
        padding:20px;
    }
    .product-list-img{
        width:100%;
   }
}