.section{
    background-image:linear-gradient(to right,#FFFAC5,#FFFAC2);
    padding-top:15px;
}

.product-description{
    margin-left: 25px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size:14px;
}

.product-container{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-left: 100px;
     border-bottom: 1px solid red;
}

.product-list-img{
    width: 85%;
}
.product-container p{
    text-align: center;
}
.image-product-list{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size:14px;
} 

@media(max-width:820px){
    .product-description{
        margin-left: 10px;
        margin-right: 10px;
        font-size:13px;
        text-align: justify;
    }

    .product-container{
        padding-left: 0px;
        padding-right:10px;
    }
    .product-list-img{
        width:100%;
   }
}